<div class ="container">
  <h1>StaticPages#landing_page</h1>
  <p>Find me in app/views/static_pages/landing_page.html.erb</p>
  <h1> Production or not? </h1>
  <h1> <%= Rails.env.production?%> </h1>
  <%= Rails.application.credentials.dig(:omniauth, :github, :client) %></br>
  <%= Rails.application.credentials.dig(:omniauth, :github, :secret) %></br>
  <%= Rails.application.credentials.dig(:omniauth, :google, :client_id) %></br>
  <%= Rails.application.credentials.dig(:omniauth, :github, :client_secret) %>

</div>
