<%= form_for(resource, as: resource_name,
                      url: registration_path(resource_name),
                      data: { turbo: "false" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div id="login-box">
    <div class="left">
      <h1>Sign up</h2>

      <div class="field">
        <%= f.email_field :email,
                          autofocus: true,
                          autocomplete: "email",
                          placeholder: "E-mail" %>
      </div>

      <div class="field">
        <%= f.password_field :password,
                              autocomplete: "new-password",
                              placeholder: "Password"%>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation,
                              autocomplete: "new-password",
                              placeholder: "Retype password"%>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
      <%= render "devise/shared/links" %>
    </div> 
<% end %>
    <div class="right">
      <%= render "devise/shared/omniauth_providers"%>
    </div>
  </div>  
  

  <%# <div class="left">
    <h1>Sign up</h1>
    
  
    <input type="text" name="email" placeholder="E-mail" />
    <input type="password" name="password" placeholder="Password" />
    <input type="password" name="password2" placeholder="Retype password" />
    
    <input type="submit" name="signup_submit" value="Sign me up" />
    <%= render "devise/shared/links" %>
  <%# </div> %>
  <%# <div class="right">
    <span class="loginwith">Sign in with<br />social network</span>
    
    <button class="social-signin facebook">Log in with facebook</button>
    <button class="social-signin twitter">Log in with Twitter</button>
    <button class="social-signin google">Log in with Google+</button>
  </div>
  <div class="or">OR</div> %>
  



