
  
    

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: "false" }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
      <div id="login-box">
        <div class="left">
          <h1>Sign up</h2>

          <div class="field">
            <%#= f.label :email %>
            <%= f.email_field :email,
                              autofocus: true,
                              autocomplete: "email",
                              placeholder: "E-mail" %>
          </div>

          <div class="field">
            <%#= f.label :password %>

            <%= f.password_field :password,
                                  autocomplete: "new-password",
                                  placeholder: "Password"%>
          </div>

          <div class="field">
            <%#= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation,
                                  autocomplete: "new-password",
                                  placeholder: "Retype password"%>
          </div>

          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>
        </div>
        <div class="right">
          <span class="loginwith">Sign in with<br />social network</span>

          <button class="social-signin facebook">Log in with Facebook</button>
          <%# <button class="social-signin twitter">Log in with Twitter</button>
          <button class="social-signin google">Log in with Google+</button> %>
          <%- if devise_mapping.omniauthable? %>
            <%- resource_class.omniauth_providers.each do |provider| %>
              <%= form_for "Login",
                url: omniauth_authorize_path(resource_name, provider),
                method: :post,
                data: { turbo: "false" } do |form| %>
                  <% if provider.name == "github" %>
                    <%= button_to "Log in with #{OmniAuth::Utils.camelize(provider)}", 
                                        omniauth_authorize_path(resource_name, provider),
                                        method: :post,
                                        class: "social-signin github"%>
                  <% elsif provider.name == "google_oauth2"%>
                    <%= button_to "Log in with #{OmniAuth::Utils.camelize(provider)[0,6]}+", 
                                        omniauth_authorize_path(resource_name, provider),
                                        method: :post,
                                        class: "social-signin google"%>
                  <% end %>
              <% end %>
          <% end %>
        <% end %>
        </div>
      </div>   
    <% end %>
  

  <%# <div class="left">
    <h1>Sign up</h1>
    
  
    <input type="text" name="email" placeholder="E-mail" />
    <input type="password" name="password" placeholder="Password" />
    <input type="password" name="password2" placeholder="Retype password" />
    
    <input type="submit" name="signup_submit" value="Sign me up" />
    <%= render "devise/shared/links" %>
  <%# </div> %>
  <%# <div class="right">
    <span class="loginwith">Sign in with<br />social network</span>
    
    <button class="social-signin facebook">Log in with facebook</button>
    <button class="social-signin twitter">Log in with Twitter</button>
    <button class="social-signin google">Log in with Google+</button>
  </div>
  <div class="or">OR</div> %>
  



