<%= form_with(model: [@inbox, message]) do |form| %>
  <%= render 'shared/errors', form: form %>

  <div class="form">
    <%= form.label :body, class: "form__label" %>
    <%= form.text_area :body,
                        autocomplete: 'off',
                        rows: 7,
                        maxlength: Message::MAX_BODY,
                        placeholder: "Compose a new message",
                        class: "form__text-area" %>
  </div>

  <div class="form__submit">
    <%= form.submit %>
  </div>
<% end %>
