<div id="<%= dom_id message %>"
      class="scaffold_record" >
      
  <%= simple_format(message.body) %>
  

  <hr>
  
  <div class="message__vote-button">
    <%= button_to [:upvote, @inbox, message], method: :patch do %>
      <% if current_user.voted_up_on? message, vote_scope: 'like' %>
        UN-vote
      <% else %>
        UP-vote
      <% end %>
    <% end %>
  </div>
  <%#= message.cached_votes_total %>
  <%= message.cached_votes_score %>
  <%#= message.cached_votes_up %>
  <%#= message.cached_votes_down %>
  <%#= message.cached_weighted_score %>
  <%#= message.cached_weighted_total %>
  <%#= message.cached_weighted_average %>
  <br>

  <i>
    by
    <%= message.user.email %>
    on
    <%= message.created_at.strftime('%d/%b/%Y, %H:%M') %>
  </i>

  <%= button_to "Destroy", inbox_message_path(@inbox, message), method: :delete %>
</div>
