<div id="<%= dom_id message %>" class="scaffold_record" >
      
  <%= simple_format(message.body) %>
  
  
  <div class="like-content">
    <div class="message__vote-button" >
      <%#= button_to [:upvote, @inbox, message], class: :button do %>
      <%= button_to [:upvote, @inbox, message],
              class: "btn-secondary like-review",
              data: {turbo_method: :patch} do %>
      <%= message.cached_votes_score %>
        <% if current_user.voted_up_on? message, vote_scope: 'like' %>
          <i class="fa-solid fa-heart" aria-hidden="true"></i>
          You Liked this
        <% else %>
          <i class="fa-regular fa-heart" aria-hidden="true"></i>
          Like !!!
        <% end %>
      <% end %>
    </div>
  </div>

  <%# <div class="like-content">
    <button class="btn-secondary like-review">
      <i class="fa fa-heart" aria-hidden="true"></i> Like
    </button>
  </div> %>
  
  <%#= message.cached_votes_total %>
  <%#= message.cached_votes_up %>
  <%#= message.cached_votes_down %>
  <%#= message.cached_weighted_score %>
  <%#= message.cached_weighted_total %>
  <%#= message.cached_weighted_average %>

  <div class="message__creator-data">
    <p class="message__creator-text">
      <span> by <%= message.user.email %></span>
      <span> on <%= message.created_at.strftime('%d/%b/%Y, %H:%M') %></span>
    </p>
  </div>
 
  <div class="message__button-destroy">
    <%= link_to "Destroy", inbox_message_path(@inbox, message), data: { turbo_method: :delete } %>
  </div>
</div>
