<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= display_meta_tags site: Rails.application.class.module_parent.name,
                          description: 'User Feedback App create own list',
                          keywords: 'qna, feedback, answer',
                          reverse: true %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <%= render 'shared/navigation' %>
      <%= render 'shared/flash' %>
      <%= yield %>
      <%= render 'shared/footer'%>
    </div>
  </body>
</html>
