<%= form_with(model: inbox) do |form| %>
  <%= render 'shared/errors', form: form %>

  <div class="form">
    <%= form.label :name, style: "display: block", class: "form__label" %>
    <%= form.text_area :name, 
                        autocomplete: 'off',
                        rows: 7,
                        maxlength: Inbox::MAX_NAME,
                        placeholder: "Compose a new inbox",
                        class: "form__text-area" %>
  </div>

  <div class="form__submit">
    <%= form.submit %>
  </div>
<% end %>
