<%= form_with(model: inbox) do |form| %>
  <%= render 'shared/errors', form: form %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, 
                        autocomplete: 'off', 
                        style: 'width:100%; padding: 5px 0;',
                        maxlength: Inbox::MAX_NAME %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
