<div id="<%= dom_id inbox %>" class="scaffold_record">
  <h3>
    <%= link_to inbox.name, inbox, data: {turbo: false} %>
  </h3>
  <%# User can edit only own inboxes, messages %>
  <%# shows if the user can edit  %>
  <%#= policy(inbox).edit? %>
  <% if policy(inbox).edit? && policy(inbox).destroy? %>
    <div class="inbox__buttons">
      <div class="inbox__button-edit">
        <%= link_to "Edit", edit_inbox_path(inbox), data: {turbo: false} %>
      </div>
      <div class="inbox__button-destroy">
        <%= link_to "Destroy", inbox_path(inbox),
                              data: { turbo_method: :delete } %>
      </div>
    </div>
  <% end %>
  <div class="inbox__messages">
    <hr>
    <span>Messages: <%= inbox.messages_count %> </span>
  </div>

  <div class="inbox__creator-data">
    <p class="inbox__creator-text">
      <span>created by: <%= inbox.user.email %></span>
      <span>on <%= inbox.created_at.strftime('%d/%b/%Y, %H:%M') %></span>
    </p>
  </div>
</div>
