<div id="<%= dom_id inbox %>" class="scaffold_record">
  <h3>
    <%= link_to inbox.name, inbox, data: {turbo: false} %>
  </h3>
  <%# User can edit only own inboxes, messages %>
  <%# shows if the user can edit  %>
  <%= policy(inbox).edit? %>
  <%= link_to "Edit", edit_inbox_path(inbox) if policy(inbox).edit? %>
  <br>
  <%= link_to "Destroy", inbox_path(inbox), data: { turbo_method: :delete } if policy(inbox).destroy?  %>
  <br>
  Messages:
  <br>
  <%= inbox.messages_count %>
  <br>

  <i>
    created by
    <%= inbox.user.email %>
    on
    <%= inbox.created_at.strftime('%d/%b/%Y, %H:%M') %>
  </i>
</div>
