<div class="inbox">
  <div class="inbox__count">
    <h1>
      Inboxes:
      <turbo-stream action="replace" target="inbox_counter">
        <span>
          <%= @inboxes.count %>
        </span>
      </turbo-stream>
    </h1>
  </div>
  <div class="inbox__search-form">
    <%= search_form_for @q, html: { autocomplete: "off" }, data: { turbo_frame: "search" } do |f| %>

      <p># Search if the name field contains ...</p>
      <div class="inbox__search-items">
        <div class="inbox__search-item">
          <div class="inbox__search-label">
            <%= f.label :name_cont %>
          </div>
        </div>
        <div class="inbox__search-item">
          <div class="inbox__search-field">
            <%= f.search_field :name_cont, placeholder: " Type to search" %>
          </div>
        </div>
        <div class="inbox__search-item">
          <div class="inbox__search-submit">
            <%= f.submit %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="inbox__sort">
    <%= turbo_frame_tag 'search' do %>
      <div class="inbox__sort-items">
        <%= sort_link(@q, :name, default_order: :desc, data: { turbo_frame: 'search' }) %>
        <%= sort_link(@q, :created_at, default_order: :desc, data: { turbo_frame: 'search' }) %>
        <%= sort_link(@q, :messages_count, default_order: :desc, data: { turbo_frame: 'search' }) %>

        <%= link_to 'Refresh search', request.path, 
              data: { turbo_frame: 'search'},
              class: "inbox__refresh-link" if request.query_parameters.any? %>
  
      </div>
    <% end %>
    <div id="inboxes">
      <%= render @inboxes %>
    </div>
    
  </div>
</div>
